* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  width: 100%;

}

body {
 position: relative;
  width: 100%;
  height: 100%;
}





nav {
  background-color: #301934;
  width: 100%;
}
nav .brand-logo {
  color: #000;
  font-size: 1.5rem;
}
nav ul a {
  font-size: 1rem;
  color: #fff;
}
nav a {
  color: #fff;
}
footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #301934;
  color: #fff;
  margin-top: auto;
}

strong {
  font-weight: bold;
}

.title {
  font-size: 1.5rem;
}



p {
  font-size: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.box {
  width: 100%;
  max-width: 30%;
  border: 1px solid red;
  margin: 5px;
}


.register-wrapper {
  padding: 1% 0;
}

footer {
  width: 100%;

  text-align: center;
  position: absolute;
  left: 0;
  bottom: -10%;
  margin-top: 50%;
  padding: 0;
}

/* @media only screen and (max-width: 992px) nav .brand-logo {
  color: #0f0f0f;
  font-size: 0.5rem;
} */
